html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
main{
    background-image: url('/img/giphy.webp');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #3D3D3D;
}

section.download{
    display: flex;
    justify-content: center;
}
section.download .back-box > svg {
    padding-top: 26px;
}

section.download h1 {
    margin: 0;
    font-family: 'Madimi One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
}
section.download .back-box{
    width: 100%;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 19px;
    /* background-color: #343434; */
    max-width: 400px;
    height: 375px;
    align-items: center;
    flex-direction: column;

    background: rgb(0 0 0 / 42%);

    backdrop-filter: blur(4.85px);
}

section.download .back-box > a {
    background-color: #4B9B58;
    border: 1px solid #60c571;
    border-radius: 6px;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.7px;
    transition: .3s;
}
section.download .back-box > a:hover {
    background-color: #60c571;
}
section.download .frontend-version_text{
    padding-top: 8px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #cbcbcb;
    margin: 0;
}
section.download .backend-version_text{
    padding-top: 8px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 22px;
    
    color: #a4a4a4;
    margin: 0;
    text-align: center;
}

section.download .download-link{
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    color: white;
}
section.download .download-link svg path{
    fill: white;
}
section.download .download-link span{
    font-family: 'JetBrains Mono';
    font-style: normal;
    color: white;
}